{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SAS Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap or Tailwind (your choice) -->
    {% tailwind_css %}
    <script src="/static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% block head %}{% endblock %}
</head>

<body class="bg-light">
    {% block content %}{% endblock %}
</body>
</html>
